body {
    width: 80%;
    max-width: 1200px;
    font: 16px Arial, sans-serif;
    padding: 20px;
    margin: 0 auto;
}

header, nav, main, aside, footer {
    margin: 10px 0;
}

header, footer {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(to right, #4CAF50, #2196F3);
    color: #fff;
    text-align: center;
    clear: both;
}

h1, h2 {
    color: #a5ad03;
    font-variant: small-caps;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
}
.gallery img {
    width: 200px;
    height: 200px;
}
nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    width: 66.66%;
    float: left;
}

aside {
    width: 33.33%;
    float: left;
}

.mainimg img {
    border: 2px solid #12ff1a;
    width: 100%;
    height: auto;
}

figcaption {
    font-weight: bold;
    font-variant: small-caps;
}

q {
    font-family: cursive;
    font-style: italic;
    font-size: 1.2em;
}

ul {
    list-style: none;
    line-height: 1.6;
}

ul > li > a {
    text-decoration: none;
    color: #0004ff;
}

ul > li > a:hover {
    color: #ff6600;
}

p {
    text-align: justify;
}
